.cadastro {
    width: 100%;
    max-width: 450px;
    background-color: white;
    margin:60px auto;
    box-shadow: 0px 0px 5px #ccc;
    padding:30px 60px;
}

h2{
    font-size: 20px;
    font-weight: bold;
}

p{
    margin-bottom: 10px;
}

input{
    width: 100%;
}