.home-content-title h2{
    font-size: 30px;
    font-weight:bold;
}

.home-content-title p{
    font-size: 16px;
}

.home-content-title{
    margin-bottom: 60px;
}

.product{
    text-decoration: none;
    margin-bottom: 60px;
    display: block;
    padding: 0 20px;
}

.product img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #ccc;
}

.product p{
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color:#333;
    font-weight: bold;
}

.product span{
    font-size: 1.25em;
    color:#E94C88;
}