.product{
    margin-bottom: 100px;
    margin-top: 20px;
    display: block;
    padding: 0 20px;
}

img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #c4c4c4;
}

p{
    display: block;
    margin-top: 20px;   
    color: var(--preto);    
}

span{
    font-size: 1.25em;
    font-weight: bold;
    color: var(--rosa-escuro);
}

button {
    padding: 10px;
    background-color: var(--rosa);
    border: none;
    color: #fff;
    border-radius: 3px;
}

.product button:hover {
    background-color: var(--rosa-escuro);
    transition: 0.5s;
}
